body {
    width: 900px;
    height: 900px;
    background-color: aquamarine;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

ul li {
    border: .5px solid #666;
}